* {
    font-family: "Raleway";
}

img {
    max-width: 100%;
    max-height: 100%;
    width: 600px;
    height: 500px;
}

/* NAVBAR */
.navbar {
    list-style-type: none;
    margin-top: 50px;
    padding: 0;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.navitem a {
    height: 50px;
    width: 100px;
    color: black;
    font-weight: 400;
    padding: 30px 50px;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    opacity: 0.5;
}

.navitem :hover {
    opacity: 1;
    font-weight: 600;
    transition: 0.25s ease-in;
}


.gallery {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1.25em;
    letter-spacing: 20px;
    opacity: 0.75;
}

/* ABOUTME */
.aboutme {
    text-align: center;
}

.main {
    display: flex;
    margin-top: 3em;
    align-items: center;
}

.left-one {
    width: 50%;
    padding-left: 15em;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.left-one img {
    height: 600px;
    width: 600px;
    filter: grayscale();
}

/* .left-one:hover img {
    filter: none;
    transition: 1s ease-in-out;
    transform: scale(1.1);
} */

.right-one {
    width: 50%;
}

.right-one h3 {
    font-weight: 500;
}